:host {
    display: block;
    background: #fff;
    box-shadow: 2px 2px 10px #c1c1c1;
    .card {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-image: url('../../../assets/experience.jpg');
        background-size: cover;
        .percentage {
            align-self: flex-end;
            font-size: 24px;
            margin: 12px;
        }
        .bottom {
            padding-left: 6px;
            background: rgba(255, 255, 255, 0.9);
            .title {
                font-weight: 600;
            }
            .description {
                margin-top: 4px;
                color: rgb(27, 27, 27);
            }
        }
    }
}