:host {
    display: block;
    background: #fff;
    box-shadow: 4px 4px 11px rgba(255, 255, 255, 0.28);
    border: solid 1px #949494;
    .card {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-image: url('../../../assets/experience.jpg');
        background-size: cover;
        .percentage {
            align-self: flex-end;
            font-size: 24px;
            margin: 12px;
        }
        .bottom {
            padding: 4px 6px;
            background: rgba(255, 255, 255, 0.7);
            .title {
                font-weight: 600;
                text-transform: uppercase;
            }
            .description {
                margin-top: 4px;
                color: rgb(27, 27, 27);
            }
        }
    }
}