<div class="container">
    <form>
        <fieldset>
            <legend>LE FORMULAIRE QUI TUE</legend>
            <div class="form-group">
                <label>Nom</label>
                <input placeholder="Nom" [(ngModel)]="createEvent.name" />
            </div>
            <div class="form-group">
                <label>Description</label>
                <input placeholder="Description" [(ngModel)]="createEvent.description" />
            </div>
            <button>GO</button>
        </fieldset>
    </form>
</div>